<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sasu.platform.mhm.mapper.TwoBindingMapper">
    <update id="confirmBind">
        update parent_student_relation set verification_status = #{Status} where student_id = #{studentId}
    </update>


    <select id="getStatus" resultType="java.lang.Integer">
        select verification_status from parent_student_relation where student_id = #{studentId}
    </select>
</mapper>
